html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.4rem;
}
p, li, a {
    font-size: 1.6rem;
}
.recipe-section {
    padding: 10rem;
}
.recipe-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.direction-box {
    text-align: center;
}
.btn {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 1px solid black;
    padding: .5rem 1rem;
    
}